body{
  font-family: courier, helvetica;
  text-align: center;
}
.header {
  color: orange;
  text-align: center;
  font-size: 2em;
}

.zipLabel,.yearLabel, .submit {
  display: block;
  margin: .2em;
}
.zip,.year{
  margin-left: 1em;
}
.submit {
  width: 10em;
  margin: auto;
  font-size: 2em;
  background-color: orange;
}
.submit:hover {
  cursor:pointer;
  background-color: #ee8800;
}

.resultsTable {
  width: 80%;
  margin: auto;
  background-color: #ddd;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #fff;
}
